
%html{lang: "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    / Barber Booking

  %body{role: "document"}

    .container.theme-showcase{role: "main"}

      .jumbotron
        %h1 About us

      .page-header
        %h1 Ethos

        .col-sm-4
          .list-group
            %a.list-group-item.active{:href => "#"}
              What we do?
            %a.list-group-item{:href => "#"} We provide a simple only booking system for customers to remotely access their favourite Hairdressers and Barbers and book a slot that fits just right for them.

        / /.col-sm-4

        .col-sm-4
          .list-group
            %a.list-group-item.active{:href => "#"}
              How we do it?
            %a.list-group-item{:href => "#"} Using our website, we make it possible for you the user to access your favourite hair do-er!

        / /.col-sm-4
        .col-sm-4
          .list-group
            %a.list-group-item.active{:href => "#"}
              Why we do it?
            %a.list-group-item{:href => "#"} We understand the importance of getting a haircut; making you feel more confident and take on the world. This is why we created this site; so you can book, reserve and review your hair dressers and make sure you get a slot in before they are full up!

        / /.col-sm-4
      .page-header
        %h1 Awards
      .row
        .col-sm-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title 2020
            .panel-body
              Booking System Award

        / /.col-sm-4
        .col-sm-4
          .panel.panel-success
            .panel-heading
              %h3.panel-title 2019
            .panel-body
              Excellence Award

        / /.col-sm-4
        .col-sm-4
          .panel.panel-warning
            .panel-heading
              %h3.panel-title Panel 2017
            .panel-body
              Diversity Award
